.custom-card {
    width: 80%;
    max-width: 400px;
    height: 80vh;
    max-height: 500px;
    padding: 20px;
    margin: auto;
}

.btn-custom {
    background-color: #f89000;
    color: #fff;
}

.logo {
    position: absolute;
    top: 85%;
    left: 0;
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
}